*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Node.js specific
node_modules/
package-lock.json

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ Idea specific
.idea/
*.iml
